*
!*/

!.gitignore
!.bumpversion.cfg
!.ci/*

!*.c
!*.h
!*.rst
!samples/tests/*.sh
!*.po
!samples/*.expected

!LICENSE
!HEADER
!ChangeLog

!CMakeLists.txt
!.cmake/*

!src/config.h.in
src/config.h

build
*~
*.swp
