*
!*/

!.gitignore
!.bumpversion.cfg
!.ci/*
!.cmake/*

!dev/*
!doc/*

!*.c
!*.m
!*.cc
!*.h
!*.hxx
!*.rst
!*.po
!*.in
!.cmake/*.cmake
!samples/tests/*.sh
!samples/**/*.expected

!LICENSE
!HEADER
!ChangeLog

CMakeFiles/
!CMakeLists.txt

src/config.h
build

*~
*.swp
.*.swp
