[submodule "dependencies/libcsptr"]
	path = dependencies/libcsptr
	url = https://github.com/Snaipe/libcsptr.git
[submodule "dependencies/dyncall"]
	path = dependencies/dyncall
	url = https://github.com/Snaipe/dyncall.git
