version: 2.0.0_b{build}-{branch}

os: Visual Studio 2015

init:
  - git config --global core.autocrlf input
  - 'SET PATH=C:\Python34-x64;C:\Python34-x64\Scripts;%PATH%'
  - 'SET PATH=C:\MinGW\bin;%PATH%;C:\MinGW\msys\1.0\bin;%APPVEYOR_BUILD_FOLDER%\build;%APPVEYOR_BUILD_FOLDER%\build\Debug'

environment:
  COVERALLS_REPO_TOKEN:
    secure: 5nuCg+faxFPeppoNNcSwVobswAVFUf8ut83vw8CX/4W2y0kZkGmwEfCUxSQWiQDU
  CI_NAME: appveyor
  CI_JOB_ID: $(APPVEYOR_JOB_ID)
  LOCAL_INSTALL: $(APPVEYOR_BUILD_FOLDER)
  GCOV_PREFIX: $(APPVEYOR_BUILD_FOLDER)
  matrix:
  - COMPILER: mingw
    GENERATOR: "MSYS Makefiles"
  - COMPILER: msvc
    GENERATOR: "Visual Studio 14 2015"

clone_depth: 5

platform:
  - x86_64

configuration: Release

install:
  - ps: $env:RELEASE_NAME = $env:APPVEYOR_REPO_BRANCH -replace "/", "-"
  - pip install codecov
  # Hack to make git think it is on the tip of the repo branch
  - 'git checkout -B %APPVEYOR_REPO_BRANCH%'
  # Configure project
  - 'mkdir build && cd build'
  - >
      cmake
      -Wno-dev
      -DCMAKE_INSTALL_PREFIX="criterion-%RELEASE_NAME%"
      -DCMAKE_PREFIX_PATH="%LOCAL_INSTALL%"
      -G "%GENERATOR%"
      ..

build_script:
  - cmake --build .

before_deploy:
  - ps: |
        $archive = "criterion-$env:RELEASE_NAME-windows-$env:COMPILER-$env:PLATFORM"
        cmake --build . --target install
        7z a -ttar "$archive.tar" "criterion-$env:RELEASE_NAME"
        7z a -tbzip2 "../$archive.tar.bz2" "$archive.tar"
        Push-AppveyorArtifact "../$archive.tar.bz2"

test_script:
  - cmake --build . --target criterion_tests
  - ps: try { ctest } catch { type Testing/Temporary/LastTest.log }

after_test:
   - 'make gcov'
   - codecov
#after_test:
#  - 'make coveralls'

notifications:

  - provider: Email
    to: [franklinmathieu@gmail.com]
    on_build_status_changed: true

deploy:
  provider: GitHub
  auth_token:
    secure: MnZZQeoxBVnpV9GSSvVok5Je0/N2d/fzG4+ITw95/tYSgZ8rleBV23a5sCwAea3r
  artifact: 'criterion-$(RELEASE_NAME)-windows-$(COMPILER)-$(PLATFORM).tar.bz2'
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
